body {
    background-color: #ebd36f;
}

#header {
    margin-bottom : 80px;
}
/*Style pour la navbar*/
#navBar {
    width: 70%;
}


#footerStyle{
    background-color: #3d3d3d;
}
.card-footer{
    color: white;
    background-color: #9D9D9D;
}

/*Style pour le formulaire*/
.red-text{
    color: red;
}
#commForm{
    width: 100%;
}

/*Style pour la passe utillisateur*/
#buttonModifier{
    float: right;
}